<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>HM GPT</title>

        <style>
            .clicked {
                color: #ccc; /* Light grey color */
            }
            .clicked:after {
                content: ' \2713'; /* Unicode checkmark */
                color: green;
                font-weight: bolder;
            }
        </style>

    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">HM GPT</a>
                </div>
            </div>
        </nav>

        <div class="container">

            <h3>Learning and Assessment Plan</h3>
            User: {{ user_email }}

            <br><br>
            <h4>Links to the Clinical Standard Staff Protocols:</h4>
            <ul>
                <li><a href="https://drive.google.com/file/d/16gpIkUPnAlq_zcaRA1xSrp_zz4MPuWMM/view?usp=drive_link" target="_blank">Adult Cold Algorithm</a></li>
                <li><a href="https://drive.google.com/file/d/16qVc_7vbnlZ4o2kPu9H3phcgz1EXwGbR/view?usp=drive_link" target="_blank">Sore Throat Algorithm</a></li>
                <li><a href="https://drive.google.com/file/d/16cK6_M3PdKTpAjMqgLg_Eeh91JIlvLzE/view?usp=drive_link" target="_blank">Pediatric Cold Algorithm</a></li>
                <li><a href="https://drive.google.com/file/d/16VlogUQJptT_u7NYurvNhqez5gADoat7/view?usp=drive_link" target="_blank">Dysuria Algorithm</a></li>
                <li><a href="https://drive.google.com/file/d/16itTgNq1t7hQh_X8eLImYXJvSEy8eJeV/view?usp=drive_link" target="_blank">Pregnancy Algorithm</a></li>
            </ul>

            <br>
            <h4>Before doing any training, try to work through these cases:</h4>

            <ul id="preTrainingCases">
                <li><a href="" target="_blank" onclick="markAsClicked(this)">Case 1</a></li>
                <li><a href="" target="_blank" onclick="markAsClicked(this)">Case 2</a></li>
                <li><a href="" target="_blank" onclick="markAsClicked(this)">Case 3</a></li>
                <li><a href="" target="_blank" onclick="markAsClicked(this)">Case 4</a></li>
                <li><a href="" target="_blank" onclick="markAsClicked(this)">Case 5</a></li>
            </ul>

            <br>
            <h4>Now let's learn!</h4>
            <a href="https://youtu.be/HCTunqv1Xt4?si=yisJjGIlv_FzVd2g" target="_blank">Link to training program</a>

            <br><br>
            <h4>Now that you've done the training, let's try some more cases:</h4>
            <ul id="postTrainingCases">
                <li><a href="" target="_blank" onclick="markAsClicked(this)">Case 6</a></li>
                <li><a href="" target="_blank" onclick="markAsClicked(this)">Case 7</a></li>
                <li><a href="" target="_blank" onclick="markAsClicked(this)">Case 8</a></li>
                <li><a href="" target="_blank" onclick="markAsClicked(this)">Case 9</a></li>
                <li><a href="" target="_blank" onclick="markAsClicked(this)">Case 10</a></li>

            </ul>

            <br>
            <h3>Thank you!</h3>
            Link to post-research survey

            <script>
                function markAsClicked(link) {
                    link.classList.add('clicked');
                }


                function setRandomCaseLinks() {

                    const preLinks = document.querySelectorAll('#preTrainingCases a');
                    const postLinks = document.querySelectorAll('#postTrainingCases a');

                    caseLen = preLinks.length // Assume pre and post are the same size!

                    // Create an array of length 5 with random 0s and 1s
                    let randomPreArray = Array.from({ length: caseLen }, () => Math.floor(Math.random() * 2));
                    // Create the inverse array where 0s become 1s and 1s become 0s
                    let inversePostArray = randomPreArray.map(value => value === 0 ? 1 : 0);

                    // Create an array of length 5 that starts at 1 and increments by 2
                    let sequenceArray = Array.from({ length: caseLen }, (_, index) => 1 + index * 2);

                    // Iterate through each preLink and adjust href based on sequencePreArray and randomPreArray
                    preLinks.forEach((link, index) => {
                        const caseNumber = sequenceArray[index] + randomPreArray[index];
                        link.href = `https://hmgpt-chrispebble.pythonanywhere.com/case/${caseNumber}?user_email={{user_email}}&stage=pre`;
                    });

                    // Handle postLinks
                    postLinks.forEach((link, index) => {
                        const caseNumber = sequenceArray[index] + inversePostArray[index];
                        link.href = `https://hmgpt-chrispebble.pythonanywhere.com/case/${caseNumber}?user_email={{user_email}}&stage=post`;
                    });

                }

                window.onload = setRandomCaseLinks;
            </script>

        </div><!-- /.container -->
    </body>
</html>